# Logs
env
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# IDE files
.idea/
.vscode/

# Config secrets
config/config.js
src/bots/ecosystem/*
!src/bots/ecosystem/example.config.js

# Python
__pycache__

*-bytecode.txt

src/**/*sandbox*.js
src/_sandbox/
